@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Anybody:wght@300&family=Rock+3D&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Akshar', sans-serif;
    font-family: 'Anybody', cursive;
    font-family: 'Rock 3D', cursive;
    font-family: 'Source Code Pro', monospace;
}


.background {
    background-color: #ecf3f1;
}

.flex-content {
    flex: 1;
}

.menu {
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    background-color: #ff5004;
    box-shadow: 0 0 10px rgba(0 0 0 / 80%);
}

.menu-text {
    display: flex;
    position: absolute;
    left: 8px;
    top: -10px;
    padding: 8px;
    width: 140px;
    transition-duration: 0.4s;
}

.menu-text:hover {
    transform: scale(0.80);
}

.caixa {
    width: 1900px;
    height: 400px;
    background-color: #ff5004;
    margin: 30px auto;
    font-size: 20px;
    padding: 1rem;
}

.varetinha {
    width: 8px;
    height: 800px;
    background-color: #ff5004;
    align-items: center;
    
}

.primeiro {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 70px;
    border-radius: 10px;
}

.primeiro img {
    background-size: cover;
    width: 500px;
    height: 350px;
    margin-right: 20px;
    border-radius: 10px;
}

.primeiro p {
    color: #ecf3f1;
    width: 300px;
    margin-top: 80px;
    line-height: 25px;
}

.segundo {
    display: inline-flex;
    position: relative;
    top: -300px;
    left: 190px;
    border-radius: 10px;
}

.segundo img {
    width: 500px;
    height: 350px;
    margin-right: 20px;
    border-radius: 10px;
}

.segundo p {
    color: #ecf3f1;
    text-align: left;
    margin-right: 10px;
    width: 300px;
    line-height: 25px;
}

hr {
    margin-top: 100px;
}

#audio {
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 20px;
}

video {
    align-items: center;
    margin-top: 60px;
}

h3 {
    margin-top: 80px;
    font-size: 40px;
}

footer {
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    color: #ecf3f1;
    background-color: #ff5004;
    box-shadow: 0 0 12px 0 rgba(0 0 0 / 80%);
}