@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Anybody:wght@300&family=Rock+3D&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
    font-family: 'Anybody', cursive;
    font-family: 'Rock 3D', cursive;
    font-family: 'Source Code Pro', monospace;
}

.background {
    display: flex;    
    min-height: 100vh;
    flex-direction: column;
    background-color: #ecf3f1;
}

.flex-content {
    flex: 1;
}

#initial {
    width: 100%;
    min-height: 87vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}

#container {
    margin: 3% 0;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    width: 420px;
    max-width: 100%;
    overflow: hidden;
}

.titulo {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.formulario {
    padding: 36px;
}

.form-design {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-design label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-design input {
    border: 2px solid #ecf3f1;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.criarsenha {
    background-color: #ff5004;
    border: 2px solid #fff;
    font-size: 10px;
    text-align: center;
    width: 140px;
    border-radius: 10px;
    padding: 8px;
    margin-top: 8px;
    margin-left: 25px;
    transition-duration: 0.4s;
}

.criarsenha a {
    color: #fff;
    text-decoration: none;
}

.criarsenha a:hover {
    color: #000;
}

.criarsenha:hover {
    border: 2px solid #ff5004; 
    background-color: #f7f7f7;
    color: #000;
}

.criarlogin {
    background-color: #ff5004;
    border: 2px solid #f7f7f7;
    font-size: 10px;
    text-align: center;
    width: 140px;
    border-radius: 10px;
    padding: 8px;
    margin-top: -32px;
    margin-left: 195px;
    transition-duration: 0.4s;
}

.criarlogin a {
    color: #fff;
    text-decoration: none;
}

.criarlogin a:hover {
    color: #000;
}

.criarlogin:hover {
    border: 2px solid #ff5004; 
    background-color: #f7f7f7;
}

.menu {
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    background-color: #ff5004;
    box-shadow: 0 0 10px rgba(0 0 0 / 80%);
}

.menu-text {
    display: flex;
    position: absolute;
    left: 8px;
    top: -10px;
    padding: 8px;
    width: 140px;
}

.menu-text {
    display: flex;
    position: absolute;
    left: 8px;
    top: -8px;
    padding: 8px;
    width: 140px;
    transition-duration: 0.4s;
}

.menu-text:hover {
    transform: scale(0.80);
}

.passwordimg {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: crosshair;
}

.passwordimg button {
    background: none;
    border: none;
}

.passwordimg img {
    opacity: 30%;
}

#submitbutton {
    background-color: #ff5004;
    border: 2px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 14px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.4s;
}

#submitbutton:hover {
    border: 2px solid #ff5004; 
    color: #000;
    background-color: #f7f7f7;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    color: #ecf3f1;
    background-color: #ff5004;
    box-shadow: 0 0 12px 0 rgba(0 0 0 / 80%);
}